<h4 style='text-align: center'>Day 2</h4>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <ul class='day-selector nav nav-pills'>
      <li class="active">
        <a href='#'>
          1
        </a>
      </li>
      <li id="add-day-btn">
        <a href='#'>
          +
        </a>
      </li>
    </ul>
  </div>
  <div id="it_body" class='panel-body'>
    <label>Hotels</label>
    <ul id="chosen-Hotels" class="list-group">

    </ul>
    <label>Resturants</label>
    <ul id="chosen-Restaurants" class="list-group">

    </ul>
    <label>Activities</label>
    <ul id="chosen-Activities" class="list-group">

    </ul>
  </div>
</div>
