<h4 style='text-align: center'>Day 2</h4>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <ul class='nav nav-pills'>
      <li>
        <a href='/'>
          One
        </a>
      </li>
      <li>
        <a href='/'>
          Two
        </a>
      </li>
      <li class='active'>
        <a href='/'>
          Three
        </a>
      </li>
    </ul>
  </div>
  <div class='panel-body'>
    <label>Hotels</label>
    <ul id="chosen-Hotels" class="list-unstyled">

    </ul>
    <label>Resturants</label>
    <ul id="chosen-Restaurants" class="list-unstyled">

    </ul>
    <label>Activities</label>
    <ul id="chosen-Activities" class="list-unstyled">

    </ul>
  </div>
</div>
